[tool.poetry]
name = "deepicedrain"
version = "0.1.0"
description = ""
authors = ["Wei Ji Leong <weiji.leong@vuw.ac.nz>"]
license = "LGPL-3.0-or-later"

[tool.poetry.dependencies]
cartopy = "^0.18.0b1"
cython = "^0.29.15"
geoviews = "^1.6.6"
h5netcdf = "^0.8.0"
intake = "^0.5.4"
intake-xarray = "^0.3.1"
jupyterlab = "^2.0.1"
lxml = "^4.5.0"
matplotlib = "^3.2.0"
numcodecs = "<=0.6.3"
pydap = "^3.2.2"
pyepsg = "^0.4.0"
python = "^3.7"
pyproj = "^2.5.0"
tqdm = "^4.43.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
