[tool.poetry]
name = "deepicedrain"
version = "0.1.0"
description = ""
authors = ["Wei Ji Leong <weiji.leong@vuw.ac.nz>"]
license = "LGPL-3.0-or-later"

[tool.poetry.dependencies]
cython = "^0.29.18"
dask_labextension = "^2.0.2"
distributed = "^2.16.0"
h5netcdf = "^0.8.0"
intake = {extras = ["dataframe", "server"], version = "^0.5.5"}
intake-xarray = { git = "https://github.com/intake/intake-xarray.git", rev = "bf98a3c69eea81be716b310e33aeefbf1a89b1d0" }
jupyterlab = "^2.1.2"
lxml = "^4.5.0"
matplotlib = "^3.2.1"
numcodecs = "<=0.6.3"
pydap = "^3.2.2"
pyepsg = "^0.4.0"
pygmt = "^0.1.1"
python = "^3.8"
xarray = {git = "https://github.com/Mikejmnez/xarray.git", rev="4ce3007362af4e22dbe5836e95bebd91cde734b7"}

[tool.poetry.dev-dependencies]
black = "^19.10b0"
jupytext = "^1.4.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
