[tool.poetry]
name = "deepicedrain"
version = "0.2.1"
description = ""
authors = ["Wei Ji Leong <weiji.leong@vuw.ac.nz>"]
license = "LGPL-3.0-or-later"

[tool.poetry.dependencies]
cartopy = "^0.18.0"
cython = "^0.29.20"
dask = "^2.19.0"
dask_labextension = "^2.0.2"
datashader = "^0.11.0"
distributed = "^2.19.0"
geopandas = "^0.8.1"
geoviews = "^1.8.1"
h5netcdf = "^0.8.0"
intake = {extras = ["dataframe", "server"], version = "^0.6.0"}
intake-xarray = { git = "https://github.com/intake/intake-xarray.git", rev = "bf98a3c69eea81be716b310e33aeefbf1a89b1d0" }
jupyterlab = "^2.1.5"
lxml = "^4.5.0"
matplotlib = "^3.2.2"
numcodecs = "<=0.6.3"
pointcollection = {git = "https://github.com/SmithB/pointCollection.git", rev = "d7d1b8d88aea3e79abc77c3386a0619abc8dba0c"}
pydap = "^3.2.2"
pyepsg = "^0.4.0"
pygmt = "^0.1.1"
python = "^3.8"
pyproj = "^2.6.0"
toolz = "^0.10.0"
tqdm = "^4.46.0"
xarray = {git = "https://github.com/weiji14/xarray.git", rev = "v0.16.1-97-g47f1e329"}
xrviz = "^0.1.4"

[tool.poetry.dev-dependencies]
black = "^19.10b0"
jupytext = "^1.5.0"
pytest = "^5.4.3"

[tool.poetry.plugins."intake.catalogs"]
"atlas_cat" = "deepicedrain:catalog"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
