name: Build DeepIceDrain

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2.2.0
    - name: Build DeepIceDrain App
      run: docker build --file Dockerfile --tag weiji14/deepicedrain --target app .
